<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.js">

    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODE_WORLD_WRITEABLE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SpalashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullScreen" />
        <activity
            android:name=".me.RealNameVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.ChangeSexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.ChangeNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.ChangeUserHeadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".me.ZizhiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.ShanChangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.GeyanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.XingxiangzhaoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".me.SuceessExampleActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".me.JianliActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>